body{
	background-color: #DDA0DD;
}

h1{
	text-align: center;
	margin-top: -40%;
}

#zdjęcie1{
	opacity: 0.8;
	height: 100%;
	width:40%;
	margin-left: -5%;
}
.tak{
	margin-left: 47.5%;
	background-color: #7FFFD4;
}

.nie{
	background-color: #B22222;
	
}
